@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Rubik:wght@300;400&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-skillup {
  background-repeat: no-repeat;
  background-size: 310px 200px;
  background-position: center;
}

.content-eyefordetail {
  background-repeat: no-repeat;
  background-size: 320px 200px;
  background-position: center;
}

.content-div {
  height: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(235, 220, 231, 0.877),
    hsla(348, 35%, 67%, 0.895)
  )!important;
}
